#touppercasebtn{
  background-color: rgb(12, 87, 247);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  margin-right: 18px;
  margin-top: 20px;
}
#clearbtn{
  background-color: rgb(12, 87, 247);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  margin-right: 18px;
  margin-top: 20px;
}
#speak{
  background-color: rgb(12, 87, 247);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  margin-right: 18px;
  margin-top: 20px;
}
#copybtn{
  background-color: rgb(12, 87, 247);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  margin-right: 18px;
  margin-top: 20px;
}
#extraspaces{
  background-color: rgb(12, 87, 247);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  margin-right: 18px;
  margin-top: 20px;
}
#genansbtn{
  background-color: rgb(12, 87, 247);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  margin-right: 18px;
  margin-top: 20px;
}
#tolowercasebtn{
  background-color: rgb(12, 87, 247);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  margin-right: 18px;
  margin-top: 20px;
}
#speachtotextbtn{
  background-color: rgb(38, 166, 43);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  margin-right: 18px;
  margin-top: 20px;
}
#stoplisteningbtn{
  background-color: rgb(193, 30, 30);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  margin-right: 18px;
  margin-top: 20px;
}